<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script src="/s/jquery-1.11.3.min.js"></script>
    <script src="/s/echarts.js"></script>
    <style>
        .map{
            margin-top: 10px;
        }
        .mapTitle{
            font-size: 30px;
            color: #666;
            text-align: center;
            margin-bottom: 30px;
        }
        #main {
            width: 800px;
            height: 550px;
            margin: 0 auto;
        }
        @media screen and (max-width: 950px) {
            #main {
                width: 100%;
                height: 450px;
                margin: 0 auto;
            }
        }
        .map{
            /*background-image: url('/assets/img/bg_index.png');*/
            /*background-repeat:no-repeat ;*/
            /*background-size:100% 100%;*/
            /*background-attachment: fixed;*/

        }
    </style>
</head>

<body style="background-color: #e0e5df;">
<div class="map">
    <div class="mapTitle">南充市全景图数量分布</div>
    <div id="main"></div>
</div>

<iframe id="iFrame"  style="position:fixed;top:0;left: 0;z-index: -99 " width="100%" height="100%" frameborder="0" name="ExpoonPanorama" allowfullscreen="true" scrolling="no" ></iframe>


{if condition="$area eq '顺庆区'" }

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">芦溪镇描述</h3>
    </div>
    <div class="panel-body">
        芦溪镇地处南充市顺庆区中部，距市中心23km，中浅丘地貌，北温带盆地气候，四季明显，雨水充沛，适宜各种植物生长和农作物栽培、畜禽饲养。全镇幅员面积24.3平方公里，辖13个行政村，76个村民小组，1个社区居委会，全镇共有4859户，18686人，劳动力8232个，耕地面积12590亩。
    </div>
    <ul class="list-group">
        <li class="list-group-item">芦溪镇是原南充县芦溪区区公所所在地，1992年拆区公所，建芦溪镇，辖灯台、梵殿、芦溪三片区，1993年拆南充县，建顺庆区，芦溪镇划归顺庆区管辖，1994年重调建制，灯台、梵殿二片区恢复乡政府，芦溪单列为镇。</li>
        <li class="list-group-item">芦溪镇于1998年、2003年分别被南充市、四川省政府列为小城镇建设试点镇；于2014被确定为扩权强镇试点镇。芦溪镇建有党委、政府、人大机构，并内设党政办、社会事务办、经济发展办、财政所四个中层机构和农业服务中心、产业发展中心、社会事务中心三个事业性服务机构。驻镇企事业单位和行政管理部门28个、文化教育、食品卫生、部电通讯、公安司法、金融保险、水电气路、农贸工商等管理设施机构齐全，经济活跃、商贸业发达。</li>
    </ul>
</div>

{/if}
<script type="text/javascript">
    //获取当前区县名称
    function getUrlParamCN(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = decodeURI(window.location.search).substr(1).match(reg); //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }
    var target = getUrlParamCN('area');

    //设置标题
    $('.mapTitle').text(target+'全景图数量分布');

    //数据
    var dataList = [
        {
            regionName: '阆中市',
            name: 'aaa风景区',
            url: 'https://www.baidu.com/',
            value: [106.00,31.55,40],//[经度,维度,数量]
        },
        {
            regionName: '阆中市',
            name: 'abb风景区',
             url: 'https://www.baidu.com/',
            value: [106.00,31.65,20],
        },
        {
            regionName: '阆中市',
            name: 'accc风景区',
             url: 'https://www.baidu.com/',
            value: [106.034,31.50,20],
        }
    ];

    dataList=JSON.parse('{$dataList}');


    $.each(dataList,function(index,value) {

        dataList[index]["label"]={show:true,formatter:"{b}",color:"#fff",align:"left"};
        dataList[index]["itemStyle"]={areaColor:"#FAC"};

    });

    // 获取地图
    $.get('/s/nanchong.json', function (nanchongJson) {
        //只展示当前区县
        nanchongJson.features.map((item,index)=>{
            if(item.properties.name != target){
                delete nanchongJson.features[index]
            }
        });
        echarts.registerMap('nanchong', nanchongJson);
        var myChart = echarts.init(document.getElementById('main'));
        option = {
            tooltip: {
                trigger: 'item',
                formatter: function (params) {

                    var html="<h3>"+params.data.name+"</h3>";
                    html=html+'<image src="'+params.data.cover+'" style="width: 100px;"><br>';
                    html=html+"<p>"+params.data.description+'</p>';
                    return "<a    onclick='href_to(\""+params.data.url+"\")'>"+html+"</a>";
                },
                enterable:true,
                hideDelay:1000

            },
            geo: {
                map: 'nanchong',
                showLegendSymbol : false,

                itemStyle: {
                    areaColor:"#3a1",
                    shadowColor: 'rgba(0, 0, 0, 0.8)',
                    shadowBlur: 10,
                 },
                 label:{
                    show:true
                 },
                   emphasis:{
                              itemStyle: {
                                         areaColor:"#3a1",
                                         shadowColor: 'rgba(0, 0, 0, 0.8)',
                                         shadowBlur: 10,
                                      },
                   }

            },
            series: [
                {

                 type: 'effectScatter',
                 coordinateSystem: 'geo',
                 data: dataList,
                 symbolSize: 12,
                 zoom: 1.9,
                 roam: false,
                 showLegendSymbol : true,
                 itemStyle:{
                     show:true,
                     shadowColor: 'rgba(1, 2, 3, 0.8)',
                     shadowBlur: 10,
                  },

                  label:{
                     show:true
                  }



                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
            myChart.on('click', function (params) {
                //点击时的事件,排除点击标注点之外的区域
                if(params.name!=target){
                    //点击标注操作事件写在这里


                    showIframe(params.data.url,"100%","100%")
                }
            });
        }
    });
    
    function href_to(url) {

        //$("#main").hide();
        //showIframe("https://www.expoon.com/e/bcf96o8rjcm/panorama?from=singlemessage&isappinstalled=0","100%","100%")

        window.location.href="/index/map/detail?url="+url;
    }

    function showIframe(url){
        href_to(url)
    }

</script>
</body>
</html>
