<style>
    .basicinfo {
        margin: 15px 0;
    }
    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }
    .basicinfo .row > div {
        margin: 5px 0;
    }
    img{max-width: 100%;display: inline;overflow:hidden;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/mynav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h2 class="page-header">
                        {:__('信息公开')}
                        <a href="{:url('info/index')}" class="btn btn-success pull-right"><i class="fa fa-pencil"></i>
                            {:__('列表')}</a>
                    </h2>
                    <div class="row user-baseinfo">

                        {volist name='dataList' id='item'}

                        <h1>
                        {$item['title']}
                        </h1>
                        <p>{$item['description']}</p>
                        <p>{$item['create_time']|datetime}</p>
                        <p>{$item['read_count']}</p>
                        {/volist}

                        <hr>
                    </div>
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>
