<style>
    .basicinfo {
        margin: 15px 0;
    }
    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }
    .basicinfo .row > div {
        margin: 5px 0;
    }
    img{max-width: 100%;display: inline;overflow:hidden;
    }
    .user-baseinfo p{max-width: 100%;display: inline;overflow:hidden;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/mynav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h2 class="page-header">
                        {:__('联系我们')}
                    </h2>
                    <div class="row user-baseinfo" style="word-break:break-all; word-wrap:break-word ;">
                        <br>
                        {$data.content}
                        <br>
                        <span>附件</span>
                        { $files=explode(',',$data.files);}

                        {foreach name="files" id='value'}

                        {$value}
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
