<div class="sidenav">

    <ul class="list-group">
        <li class="list-group-heading">{:__('导航栏')}</li>
        <!--<li class="list-group-item {:$config['controllername']=='index'?'active':''}"> <a href="{:url('index/index')}"><i class="fa fa-user-circle fa-fw"></i> {:__('首页')}</a> </li>-->
        <li class="list-group-item {:$config['controllername']=='info'?'active':''}"> <a href="{:url('info/index')}"><i class="fa fa-user-circle fa-fw"></i> {:__('信息公开')}</a> </li>
        <li class="list-group-item {:$config['controllername']=='news'?'active':''}"> <a href="{:url('news/index')}"><i class="fa fa-user-o fa-fw"></i> {:__('新闻列表')}</a> </li>
        <li class="list-group-item {:$config['controllername']=='contact'?'active':''}"> <a href="{:url('contact/index')}"><i class="fa fa-key fa-fw"></i> {:__('联系我们')}</a> </li>
        <li class="list-group-item {:$config['controllername']=='about'?'active':''}"> <a href="{:url('about/index')}"><i class="fa fa-sign-out fa-fw"></i> {:__('关于我们')}</a> </li>
    </ul>
</div>
