<style>
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h2 class="page-header">
                        {:__('Info')}
                        <a href="{:url('info/index')}" class="btn btn-success pull-right"><i class="fa fa-pencil"></i>
                            {:__('Info List')}</a>
                    </h2>
                    <div class="row user-baseinfo">

                        <div class="col-md-9 col-sm-9 col-xs-10">
                            <!-- Content -->
                            <div class="ui-content">
                                <!-- Heading -->
                                <h4><a href="{:url('info/index')}">列表</a></h4>

                                <!-- Success -->
                                <div class="basicinfo">
                                    <div class="row">
                                        <div class="col-xs-4 col-md-2">{:__('Successions')}</div>
                                        <div class="col-xs-8 col-md-4">{$user.successions} {:__('Day')}</div>
                                        <div class="col-xs-4 col-md-2">{:__('Maxsuccessions')}</div>
                                        <div class="col-xs-8 col-md-4">{$user.maxsuccessions} {:__('Day')}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
